{% extends "base.html" %}

{% block title %}Registro de usuarios{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='signup_forms.css') }}">
{% endblock stylesheets %}

{% block content %}

{% if error %}
<p style="color: red;"><strong>Error:</strong> {{ error }}</p>
{% endif %}


<div class="signup-forms-container">
	<div class="choose-form-buttons">
		{% if form_type == 'company' %}
			<button type="button" id="customer-button" onclick="showCustomerForm();">Cliente</button>
			<button type="button" class="selected-button" id="company-button" onclick="showCompanyForm();">Empresa</button>
		{% else %}
			<button type="button" class="selected-button" id="customer-button" onclick="showCustomerForm();">Cliente</button>
			<button type="button" id="company-button" onclick="showCompanyForm();">Empresa</button>
		{% endif %}
	</div>

	{% if form_type == 'company' %}
		<div id="customer-signup-form" class="d-none">
	{% else %}
		<div id="customer-signup-form">
	{% endif %}
		<form action="" method="post" novalidate>
			{{ customer_form.hidden_tag() }}
			<div class="customer-signup-form-content">
				{{ customer_form.username(class_="username") }}
				{% for error in customer_form.username.errors %}
					<span class="error username-error">{{ error }}</span>
				{% endfor %}

				{{ customer_form.password(class_="password") }}
				{% for error in customer_form.password.errors %}
					<span class="error password-error">{{ error }}</span>
				{% endfor %}

				{{ customer_form.password_confirmation(class_="password-confirmation") }}
				{% for error in customer_form.password_confirmation.errors %}
					<span class="error password-confirmation-error">{{ error }}</span>
				{% endfor %}

				{{ customer_form.name(class_="name") }}
				{% for error in customer_form.name.errors %}
					<span class="error name-error">{{ error }}</span>
				{% endfor %}

				{{ customer_form.surname(class_="surname") }}
				{% for error in customer_form.surname.errors %}
					<span class="error surname-error">{{ error }}</span>
				{% endfor %}

				{{ customer_form.nif(class_="nif") }}
				{% for error in customer_form.nif.errors %}
					<span class="error nif-error">{{ error }}</span>
				{% endfor %}

				{{ customer_form.email(class_="email") }}
				{% for error in customer_form.email.errors %}
					<span class="error email-error">{{ error }}</span>
				{% endfor %}

				{{ customer_form.submit(class_="submit") }}
			</div>
		</form>
	</div>

	{% if form_type == 'customer' or not form_type %}
		<div id="company-signup-form" class="d-none">
	{% else %}
		<div id="company-signup-form">
	{% endif %}
		<form action="" method="post" novalidate>
			{{ company_form.hidden_tag() }}
			<div class="company-signup-form-content">
				{{ company_form.username(class_="username") }}
				{% for error in company_form.username.errors %}
					<span class="error username-error">{{ error }}</span>
				{% endfor %}

				{{ company_form.password(class_="password") }}
				{% for error in company_form.password.errors %}
					<span class="error password-error">{{ error }}</span>
				{% endfor %}

				{{ company_form.password_confirmation(class_="password-confirmation") }}
				{% for error in company_form.password_confirmation.errors %}
					<span class="error password-confirmation-error">{{ error }}</span>
				{% endfor %}

				{{ company_form.name(class_="name") }}
				{% for error in company_form.name.errors %}
				<span class="error name-error">{{ error }}</span>
				{% endfor %}
				
				{{ company_form.cif(class_="cif") }}
				{% for error in company_form.cif.errors %}
					<span class="error cif-error">{{ error }}</span>
				{% endfor %}
						
				{{ company_form.email(class_="email") }}
				{% for error in company_form.email.errors %}
					<span class="error email-error">{{ error }}</span>
				{% endfor %}

				{{ company_form.phone(size=9, class_="phone") }}
				{% for error in company_form.phone.errors %}
					<span class="error phone-error">{{ error }}</span>
				{% endfor %}

				{{ company_form.address(class_="address") }}
				{% for error in company_form.address.errors %}
					<span class="error address-error">{{ error }}</span>
				{% endfor %}

				{{ company_form.url(class_="url") }}

				{{ company_form.company_type.label(class_="company-type") }}
				{{ company_form.company_type(class_="company-type") }}

				{{ company_form.submit(class_="submit") }}
			</div>
		</form>
	</div>

</div>

{% endblock content %}

{% block script %}
<script>
	function showCustomerForm() {
		$('#company-signup-form').addClass('d-none');
		$('#customer-signup-form').removeClass('d-none');
		$('#company-button').removeClass('selected-button');
		$('#customer-button').addClass('selected-button');
	}

	function showCompanyForm() {
		$('#customer-signup-form').addClass('d-none');
		$('#company-signup-form').removeClass('d-none');
		$('#company-button').addClass('selected-button');
		$('#customer-button').removeClass('selected-button');
	}
</script>
{% endblock script %}