*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

/*** NAVIGATION MENU BAR ***/

nav {
	display: flex;
	justify-content: space-between;
	background: rgb(132, 235, 132);
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav li {
	padding: 1rem;
	margin: 1em;
	border: 1px solid white;
}

nav a {
	text-decoration: none;
	color: white;
}
